# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
native-build/

# Metro
.metro-health-check*

# Native builds
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Android
android/
*.apk
*.aab
*.keystore

# iOS
ios/
*.ipa
*.xcarchive
*.xcworkspace
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# CocoaPods
Pods/
Podfile.lock

# Fastlane
fastlane/

# Firebase
firebase.json
.google-services.json
GoogleService-Info.plist

# Google Play
google-play-key.json

# EAS
.eas/

# Testing
coverage/

# IDE
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store

# Local env files
.env
.env.local
.env.*.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cache
.cache/
