{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "eslint",
  "printWidth": 80,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "jsxSingleQuote": false,
  "quoteProps": "as-needed"
}
